<html ng-app="instagramApp">
<head>
    <title>Las11 Login</title>
	<link rel="stylesheet" href="styles/reset.css">
    <link rel="stylesheet" href="styles/style.css">
    
    <script src="scripts/angular.js"></script>
    <script src="scripts/angular-route.js"></script>
    <script src="scripts/angular-ui-router.min.js" type="text/javascript"></script>
    <script src="scripts/ui-bootstrap-custom-tpls-0.12.1.js" type="text/javascript"></script>
    <script src="scripts/unique.js" type="text/javascript"></script>
    <script src="scripts/angular-cookies.js" type="text/javascript"></script>
    <script src="scripts/instagram.js" type="text/javascript"></script>
    <script src="scripts/authentication.js" type="text/javascript"></script>
    <script src="scripts/directives.js" type="text/javascript"></script>
    <script src="scripts/lodash.min.js" type="text/javascript"></script>
    <script src="scripts/angular-google-maps.js" type="text/javascript"></script>
    <script src="scripts/angular-google-analytics.min.js" type="text/javascript"></script>
    <script src="insta/app.js"></script>
    <script src="insta/config.js"></script>
    <script src="insta/controllers.js"></script>
    
</head>

<body ng-controller="AppController">

<div ng-controller="loginController">
<div class="pen-title">
  <h1>Las-Eleven</h1><span>Share your Moments</span>
</div>
<div class="module form-module">
  <div class="toggle">
    
  </div>
  <div class="form">
    <h2>Login to your account</h2>      
      <a ng-href="{{authLink}}" ga-track-event="['User','Login Attempt']"><button>Login With Instagram</button></a>
  </div>
  </div>
</div>
</body>
</html>