<!doctype html>

<html ng-app="instagramApp">

<head>
  <meta charset="utf-8">
    <script src="scripts/angular.js"></script>
    <script src="scripts/angular-ui-router.min.js" type="text/javascript"></script>
    <script src="scripts/ui-bootstrap-custom-tpls-0.12.1.js" type="text/javascript"></script>
    <script src="scripts/unique.js" type="text/javascript"></script>
    <script src="scripts/angular-cookies.js" type="text/javascript"></script>
    <script src="scripts/instagram.js" type="text/javascript"></script>
    <script src="scripts/authentication.js" type="text/javascript"></script>
	<script src="scripts/directives.js" type="text/javascript"></script>
    <script src="scripts/lodash.min.js" type="text/javascript"></script>
    <script src="scripts/angular-google-maps.js" type="text/javascript"></script>
    <script src="scripts/angular-google-analytics.min.js" type="text/javascript"></script>
    <script src="insta/app.js"></script>
    <script src="insta/config.js"></script>
    <script src="insta/controllers.js"></script>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="generator" content="Polymer Starter Kit">
  <title>Las-ELeven</title>
  <link href="styles/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css">
  <link href="styles/custom.css" media="screen" rel="stylesheet" type="text/css">   
  <meta name="theme-color" content="#2E3AA1">
  <link rel="manifest" href="manifest.json">
  <meta name="msapplication-TileColor" content="#3372DF">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="application-name" content="PSK">
  <link rel="icon" sizes="192x192" href="images/touch/chrome-touch-icon-192x192.png">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Polymer Starter Kit">
  <link rel="apple-touch-icon" href="images/touch/apple-touch-icon.png">
  <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
  <link rel="stylesheet" href="styles/main.css">
  <script src="bower_components/webcomponentsjs/webcomponents-lite.js"></script>
  <link rel="import" href="elements/elements.html">
  <style is="custom-style" include="shared-styles"></style>
</head>

<body ng-controller="AppController">

  <span id="browser-sync-binding"></span>
  <template is="dom-bind" id="app">
    <paper-drawer-panel id="paperDrawerPanel">
      <paper-scroll-header-panel drawer fixed>
        <paper-toolbar id="drawerToolbar">
          <span class="menu-name">Menu</span>
        </paper-toolbar>
        <paper-menu class="app-menu" attr-for-selected="data-route" selected="[[route]]">

          <a data-route="home" href="{{baseUrl}}">
            <iron-icon icon="home"></iron-icon>
            <span>Home</span>
          </a>

          <a data-route="profile" href="{{baseUrl}}profile">
            <iron-icon icon="face"></iron-icon>
            <span>Profile</span>
          </a>

          <a data-route="about" href="{{baseUrl}}about">
            <iron-icon icon="info"></iron-icon>
            <span>About</span>
          </a>

        </paper-menu>
      </paper-scroll-header-panel>
      <paper-scroll-header-panel main id="headerPanelMain" condenses keep-condensed-header>
        <paper-toolbar id="mainToolbar" class="tall">
          <paper-icon-button id="paperToggle" icon="menu" paper-drawer-toggle></paper-icon-button>
          <span class="space"></span>
          <a style="color:#ffffff; text-decoration:none" href="http://localhost/las11/index.html">Logout</a>
          <div class="middle middle-container">
            <div class="app-name">Las-Eleven</div>
          </div>
          <div class="bottom bottom-container">
            <div class="bottom-title">Share Your Moment!</div>
          </div>
        </paper-toolbar>

        <!-- ------------------------------------------------------------------ -->
  
	<div class="content">
  
    <div ng-controller="IndexController">
          <iron-pages attr-for-selected="data-route" selected="{{route}}">
            <section data-route="home" tabindex="-1">
              <paper-material elevation="1">
              <h1 tabindex="-1">Home</h1>
              
        <div class="timeline" ng-show="isLoggedIn()" ng-init="isLoggedIn() ? refreshFeed() : null">
        <div class="row container-fluid">
        <div class="row text-center margin-bottom-50" ng-repeat="media in feed">
        
        <div class="col-md-7">
           <img ng-src="{{media.images.standard_resolution.url}}">
        </div>
                <div class="col-md-5">

                    <div class="detailBox">
                        <div class="titleBox">
                       <a ng-href="#/user/{{media.user.id}}/{{media.user.username}}"> <label style="cursor: pointer;">{{media.user.username}}</label> </a>

                        </div>
                        <div class="commentBox">
                            <p class="taskDescription" ng-if="media.created_time">{{media.created_time * 1000 | date:'MMM d, y HH:mm:ss'}}</p>
                            <p class="taskDescription">{{media.caption.text}}</p>
                            
                        </div>

                        <div class="likesBox">
                            <span class="badge">{{media.likes.count}}</span>
                            <span class="glyphicon glyphicon-thumbs-up"></span>
       <a ng-repeat="like in media.likes.data" class="label label-success" style="margin: 5px;" ng-href="#user/{{like.id}}/{{like.username}}">
                                {{like.username}}
                            </a>

                        </div>
                    </div>

                </div>

			</div>
            </div>
            </div>
            
	</paper-material>
</section>

<!-- ---------------------------------------------------------------------------------------- -->

            <section data-route="profile" tabindex="-1">
              <paper-material elevation="1">
                <h1 tabindex="-1">Profile</h1>
<div class="row" ng-controller="userController" ng-init="getUserProfile()">
    <div class="col-md-2">
        <div id="sidebar-wrapper">
            <div collapse="isCollapsed" ng-show="user">
                <div class="well well-sm">
                    <img ng-src="{{user.profile_picture}}">
                    <span class="label label-primary">{{user.full_name}}</span>
                    <p>{{user.bio}}</p>
                </div>
            </div>
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    {{userName}}
                </li>
                <li ng-show="user">
                    <a ng-click="getFollowedBy();">Followers <span class="badge inline">{{user.counts.followed_by}}</span></a>
                </li>
                <li ng-show="user">
                    <a ng-click="getFollows();">Following <span class="badge inline">{{user.counts.follows}}</span></a>
                </li>
                <li ng-show="user">
                    <a ng-click="getRecentMedia();">Post <span class="badge inline">{{user.counts.media}}</span></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-10" ng-show="isLayout('getRecentMedia')">
            <div class="col-md-3" ng-repeat="image in images | unique:'id'">
                <div class="thumbnail">
                    <a class="thumbnail" ng-href="#media/{{image.id}}/{{image.type}}"
                       ga-track-event="['Media', image.id]">
                        <img ng-src="{{image.images.low_resolution.url}}">
                    </a>
                    <div class="caption">
                        <p class="text-center">{{image.created_time * 1000 | date:'MMM d, y HH:mm:ss'}}</p>
                        <span class="glyphicon glyphicon-thumbs-up"> {{image.likes.count}}</span>
                        <span class="glyphicon glyphicon-pencil pull-right"> {{image.comments.count}}</span>
                    </div>
                </div>
            </div>
    	</div>
    <div class="col-md-10" ng-show="!isLayout('getRecentMedia')">
        <div class="row container-fluid">
            <ul class="list" class="col-md-12" ng-show="isLayout('getFollows')">
                <li ng-repeat="f in follows | unique:'id'">
                    <div class="pull-left">
                    <a ng-href="#user/{{f.id}}/{{f.username}}"><img ng-src="{{f.profile_picture}}"/></a>
                    <p>{{f.full_name}}</p>
                    <p>{{f.bio}}</p>
                    </div>
                </li>
            </ul>
            <ul class="list" class="col-md-12" ng-show="isLayout('getFollowedBy')">
                <li ng-repeat="f in followedBy | unique:'id'">
                    <div class="pull-left">
                    <a ng-href="#user/{{f.id}}/{{f.username}}"><img ng-src="{{f.profile_picture}}"/></a>
                    <p>{{f.full_name}}</p>
                    <p>{{f.bio}}</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
</paper-material>
</section>
<!-- ------------------------------------------------------------------ -->


            <section data-route="about" tabindex="-1">
              <paper-material elevation="1">
              <h1>About Las-Eleven</h1>
              		<p class="sub-head">Las-Eleven, Created by <a style="color:rgba(0,204,255,1); text-decoration:none" href="#">Luthfi Alfarisi</a> 2016</p><br>
                    <p style="float:left;"><img class="img-responsive" style="border-radius:25px; width:140px; margin-right:20px;" src="images/owner.jpg"></p>
                    
                    <p class="sub-head">My Contact :<br></p>
                    <p>Phone : 087825255492<br>
                    ID Line : luthfi_alfariz<br>
                    E-mail : luthfialfarizi98@gmail.com<br>
                    Instagram : <a href="http://instagram.com/luthfi_alfariz" style="text-decoration:none; color:rgba(0,204,255,1)">@luthfi_alfariz</a></p><br><br><br>
                    <p class="sub-head">Copyright&copy; 2016 Luthfi Alfarisi. All Right Reserved</p>
              </paper-material>
            </section>
            
          </iron-pages>
        </div>
       
      </paper-scroll-header-panel>
    </paper-drawer-panel>

    <paper-toast id="toast">
      <span class="toast-hide-button" role="button" tabindex="0" onclick="app.$.toast.hide()">Ok</span>
    </paper-toast>

  </template>
  
  	  <script src="scripts/app.js"></script>
     
</body>

</html>
